body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto", sans-serif;
  background-color: #0d120e;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

footer {
  background-color: white;
  height: 20vh;
  margin-top: 300px;
}

header {
  display: grid;
  grid-template-columns: 7fr 2.4fr 1.5fr;
  color: white;
  text-align: center;
  align-items: center;
  font-size: 22px;
  margin: 0 10vw;
  font-weight: 300;
}
header img {
  height: 60px;
}
#logo {
  width: 30vw;
}
.header-link {
  color: white;
  text-decoration: none;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
  cursor: pointer;
}

.header-link:hover {
  color: #67b688;
}

.app {
  padding: 0;
  margin: 0;
  width: 100vw;
}

.green-text {
  color: #1da756;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin: 0;
  width: 100vw;
  margin: 20vh 0vh 5vh;
  flex-direction: column;
}
.big-text {
  font-size: 100px;
  font-weight: 500;
  text-align: center;
  margin: 0;
  padding: 0 20vw 0 20vw;
}
.subheading {
  font-size: 30px;
  padding: 0 30vw 0 30vw;
  margin: 10px;
  color: #b2b9c2;
  font-weight: 300;
  text-align: center;
}

.hero-button {
  cursor: pointer;
  font-size: 25px;
  margin: 20px;
  padding: 15px 25px;
  border-radius: 20px;
  font-weight: 500;
  background-color: #1da756;
  color: white;
  border: none;
}
.hero-button:hover {
  background-color: #40b671;
}

#home-subtitle {
  font-size: 50px;
  font-weight: 500;
  text-align: center;
  margin: 0;
  padding: 0 0 0 20vw;
  color: white;
  padding: 200px 50px 50px 50px;
}

.featuredplants {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal {
  width: 80vw;
  /* padding-left: 10vw; */
}

.plant-modal {
  display: flex;
  overflow-x: auto;
  padding: 0 30px 20px;
}

.plant-modal::-webkit-scrollbar {
  width: 12px;
}

.plant-modal::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

.plant-modal::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #b2b9c27c;
}

.plant-card {
  width: 500px;
  border-radius: 30px;
  background-color: #232826;
  margin-left: 30px;
  flex-shrink: 0;
}

.plant-card h3 {
  color: white;
  /* text-align: center; */
  padding-left: 20px;
  font-size: 30px;
  font-weight: 200;
}
.plant-card-description {
  display: flex;
  color: white;
  justify-content: space-around;
  font-size: 30px;
  align-items: center;
}
.plant-card-description h4 {
  margin: 0;
  padding: 0;
}
.plant-image {
  object-fit: cover;
  width: 100%;
  height: 300px;
}

.user-description {
  color: white;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.user-description h4 {
  padding-left: 10px;
  font-size: 20px;
  font-weight: 300;
  margin: 0;
}

.homedivide {
  margin-top: 20vh;
  width: 100vw;
  color: white;
  display: flex;
  justify-content: center;
}

.homedivide img {
  object-fit: contain;
  height: 50vh;
  max-width: 30vw;
}
.homedivide-description {
  width: 30vw;
  padding: 0 40px;
}

.homedivide h3 {
  font-size: 50px;
  margin: 10px;
}

.homedivide h5 {
  margin: 0;
  font-size: 25px;
  margin: 10px;
  color: #b2b9c2;
  font-weight: 300;
}

.listings {
  display: flex;
  justify-content: center;
  width: 100vw;
  padding-top: 20px;
}

.listing-grid {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 50px;
}

.plant-card-listing {
  width: 300px;
  /* height: 400px; */
  background-color: #292e2c;
  border-radius: 10px;
  display: flex;
  align-items: center;
  box-shadow: 1px -2px 22px -4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px -2px 22px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px -2px 22px -4px rgba(0, 0, 0, 0.75);
  flex-direction: column;
  justify-content: space-between;
}
.plant-card-listing h3 {
  color: rgba(238, 238, 238, 0.925);
  font-weight: 400;
  /* font-size:20px; */
  margin: 0;
  padding-left: 10px;
}

.plant-image-listing {
  margin: 10px;
  border-radius: 30px;
  box-shadow: 1px -2px 22px -4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px -2px 22px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px -2px 22px -4px rgba(0, 0, 0, 0.75);
  height: 250px;
  width: 90%;
  object-fit: cover;
}

.plant-card-description-listing {
  display: flex;
  align-items: center;
  margin: 10px;
}

.plant-card-description-listing h4 {
  font-weight: 200;
  padding-left: 5px;
  font-size: 17px;
  color: rgba(255, 255, 255, 0.534);
  margin: 0;
}

.plant-card-listing h3:hover {
  cursor: pointer;
  text-decoration: underline;
}

.empty {
  width: 100%;
  display: flex;
}

.listing-price {
  color: white;
  font-weight: 400;
  font-size: 30px;
  padding: 10px;
  background-color: #67b688;
  border-radius: 20px;
  margin: -25px 0px;
  position: relative;
  top: 50px;
  left: 25px;
}

.listing-time {
  color: #ffffff;
  margin: 10px;
  font-weight: 200;
  font-size: 30px;
  padding: 10px;
}

.signup-div {
  padding-top: 70px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup-div h3 {
  color: white;
  font-size: 70px;
  font-weight: 600;
  margin: 10px;
}

.signup-form {
  background-color: white;
  border-radius: 10px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hiddenlabel label {
  /* font-size: 30px; */
  /* font-weight: 400; */
  /* padding: 10px; */
  visibility: hidden;
}

.signup-form input {
  height: 30px;
  font-size: 15px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.308);
  padding: 5px;
  margin: 5px 20px;
  width: 500px;
}

textarea {
  width: 500px;
  height: 150px;
  border-radius: 10px;
  font-size: 15px;
  padding: 5px;
  margin: 5px 20px;
  border: 1px solid rgba(0, 0, 0, 0.308);
}

.signupbutton {
  border-radius: 10px;
  font-size: 20px;
  color: white;
  background-color: #1da756;
  padding: 10px;
  margin: 20px;
  width: 500px;
  border: none;
}

.signupbutton:hover {
  background-color: #40b671;
  cursor: pointer;
}

#signup-signin {
  color: #1da756;
  text-decoration: none;
  font-weight: 500;
}

.notloggedin {
  text-align: center;
  color: white;
  font-size: 60px;
}

#profilepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0% 10%;
}

.userInfo {
  color: white;
  font-size: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.userInfo h2 {
  padding: 0;
  margin: 10px;
}

.my-listings {
  display: flex;
  flex-direction: column;
}
.my-listing-card {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr 0.5fr;
  align-items: center;
  text-align: center;
  background-color: white;
  width: 100%;
  height: 250px;
  border-radius: 10px;
  margin: 10px;
}

.listing-image {
  height: 200px;
  width: 200px;
  object-fit: cover;
  margin-left: 30px;
  border-radius: 10px;
}

.deleteicon {
  cursor: pointer;
}

.my-listing-card h3 {
  margin: 20px;
  font-weight: 300;
  font-size: 30px;
}

.my-listing-card h4 {
  font-size: 35px;
  font-weight: 300;
}

.listing-form label {
  padding-top: 10px;
}

#loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 500px;
  background-color: white;
}

#loadingicon {
  width: 50px;
  height: 50px;
}

.time-display {
  display: flex;
  background-color: white;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 5px;
}
.time-display h5 {
  padding: 3px;
  margin: 0;
}

.listing-title {
  color: white;
  /* text-decoration: none; */
  text-transform: capitalize;
}
.listingpage {
  display: flex;
  width: 100%;
  justify-content: center;
}

.listingpage-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 50%;

  background-color: white;
  margin-bottom: 100px;
}

.listingpage-div h2 {
  font-size: 50px;
  text-transform: capitalize;
}
.listingpage-div img {
  width: 500px;
  border-radius: 20px;
}
.listingpage-description {
  margin: 10px 30px 20px;
  font-weight: 400;
  font-size: 20px;
}

.listingpage-bid {
  display: flex;
  margin: 10px 0px;
}
.listingpage-div p {
  margin: 10px 5px;
  font-weight: 400;
}
.listingpage-about {
  margin: 10px 5px;
  font-weight: 300;
  font-size: 45px;
}
.listingpage-div input {
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  font-size: 20px;
}

.listingpage-div button {
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  color: white;
  border-style: none;
  cursor: pointer;
  background-color: #40b671;
  font-weight: 500;
  font-size: 20px;
}
.listingpage-div button:hover {
  background-color: #67b688;
}
.listingpage-countdown {
  background-color: #40b671;
  color: white;
  font-size: 30px;
  border-radius: 20px;
  padding: 10px;
  font-weight: 300;
  margin: 0;
}
.listingpage-layout-image {
  display: flex;
  padding: 10px 50px 50px;
}
.listingpage-layout-contents {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.listingpage-price {
  font-size: 35px;
  margin: 10px 5px;
  font-weight: 300;
}
.listingpage-bidder{
  font-size: 20px;
  margin: 10px 5px;
  font-weight: 400;
}